@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 84% 5%;
    --card: 210 40% 98%;
    --card-foreground: 222 84% 5%;
    --popover: 210 40% 98%;
    --popover-foreground: 222 84% 5%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 91%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 91%;
    --muted-foreground: 215 28% 44%;
    --accent: 210 40% 84%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 217 91% 60%;
  }

  .dark {
    --background: 222 84% 5%; /* Azul oscuro/negro */
    --foreground: 210 40% 98%;
    --card: 222 74% 10%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 5%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 60%; /* Azul primario */
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 33% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 217 91% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
