@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
  position: relative;
  min-height: 100vh;
}

@layer base {
  :root {
    --background: 228 100% 15% / 0.9;
    --foreground: 210 40% 98%;
    --card: 222 74% 10% / 0.8;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 91% 40%;
    --input: 217.2 32.6% 17.5%;
    --ring: 217 91% 60%;
  }

  .dark {
    --background: 228 100% 15% / 0.9;
    --foreground: 210 40% 98%;
    --card: 222 74% 10% / 0.8;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 91% 40%;
    --input: 217.2 32.6% 17.5%;
    --ring: 217 91% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    /* bg-background y text-foreground son aplicados por el estilo de arriba,
    pero los dejamos como fallback y para mantener la semántica de Tailwind */
    @apply bg-background text-foreground;
  }
}
