rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }
    
    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }

    match /users/{userId} {
      allow get: if isSignedIn() && (isOwner(userId) || isAdmin());
      allow list: if isSignedIn() && isAdmin();
      allow write: if isSignedIn() && (isOwner(userId) || isAdmin());
    }

    match /background_images/{docId} {
      allow read: if true;
      allow write: if isSignedIn() && isAdmin();
    }

    match /logo_images/{docId} {
      allow read: if true;
      allow write: if isSignedIn() && isAdmin();
    }

    match /courts/{docId} {
      allow read: if true;
      allow write: if isSignedIn() && isAdmin();
    }

    match /advertisements/{docId} {
        allow read: if true;
        allow write: if isSignedIn() && isAdmin();
    }

    match /reservations/{reservationId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn();
      allow update, delete: if isSignedIn() && (resource.data.userId == request.auth.uid || isAdmin());
    }

    match /fixed_reservations/{docId} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && isAdmin();
    }
  }
}